* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

h2 {
    font-size: 2.5rem;
    color: #38bdf8;
    margin-bottom: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    padding: 20px 10%;
}

nav h2 {
    color: #38bdf8;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: #111827;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    color: #94a3b8;
}

section {
    padding: 60px 10%;
    max-width: 900px;
    margin: auto;
}

section h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#skills ul li {
    list-style: none;
    background: #1f2937;
    padding: 10px 15px;
    border-radius: 8px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    transition: 0.35s ease;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.project-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
}

a.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: #0f172a;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

a.cta-button:hover {
    background: #22caff;
}

#contact {
    background: #111827;
    border-radius: 10px;
    text-align: center;
}

#contact p {
    margin-top: 10px;
}

.contact-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.contact-item {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    transition: 0.3s;
}

.contact-item:hover {
    transform: translateY(-5px);
}

.contact-item h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.contact-item h3 i {
    margin-right: 8px;
    color: #38bdf8;
}

.contact-item a {
    font-size: 14px;
    text-decoration: none;
    color: #e2e8f0;
    word-break: break-all;
}

.contact-item a:hover {
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}

@media(max-width:768px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        display: none;
        flex-direction: column;
        background: #111827;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    nav ul li {
        margin: 15px 0;
    }
    .hamburger {
        display: block;
    }
    .show {
        display: flex !important;
    }
    #skills ul {
        flex-direction: column;
    }
}