* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    padding: 20px 10%;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: #111827;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    color: #94a3b8;
}

section {
    padding: 60px 10%;
}

section h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#skills ul li {
    list-style: none;
    background: #1f2937;
    padding: 10px 15px;
    border-radius: 8px;
}

.project-box {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3s;
}

.project-box:hover {
    transform: translateY(-5px);
}

.project-box a {
    color: #38bdf8;
    text-decoration: none;
}

#contact {
    background: #111827;
    border-radius: 10px;
}

#contact p {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}

@media(max-width:768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }
    nav ul li {
        margin: 10 0;
    }
    #skills ul {
        flex-direction: column;
    }
}